POSTGRES_PORT=5432
POSTGRES_USER=bf_user
POSTGRES_PASSWORD=bf_password
POSTGRES_DB=bf_db

DATABASE_DSN=postgresql+asyncpg://bf_user:bf_password@bf_service_postgres:5432/bf_db
DATABASE_ECHO=false
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=10
DATABASE_POOL_TIMEOUT=60
DATABASE_POOL_RECYCLE=3600

TEMPLATE_APP_NAME=BF Service
TEMPLATE_APP_VERSION=0.1.0
TEMPLATE_APP_HOST=0.0.0.0
TEMPLATE_APP_PORT=8000
TEMPLATE_APP_DEBUG=false

NATS_HOSTS=nats://nats:4222
NATS_SUBJECT=sentiment.>
NATS_CONSUMER_DURABLE=sentiment-service-consumer
NATS_STREAM_NAME=sentiment

# NATS RPC
NATS_RPC_SUBJECT=sentiment.rpc.>
NATS_RPC_QUEUE=sentiment-rpc-queue

# NATS BE-data RPC
NATS_BE_DATA_RPC_SUBJECT=news.rpc.>
NATS_BE_DATA_RPC_TIMEOUT_SEC=10.0

CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.0
